<header class="header">
    <div class="container">
        <div class="header-box">
            <div class="header-logo">
                <h1>NETCLICKS</h1>
                <p>All about series</p>
            </div>
            <div class="header-controls">
                <a href="#">Log in and registration</a>
            </div>

            <div class="header-controls--mobile">
                <img src="./images/burger.svg" alt="burger">
            </div>
        </div>
    </div>
</header>